---
import { Image } from "astro:assets";

interface Props {
  imageSrc: string;
  title: string;
  description: string;
  category: string;
  link: string;
}

const { imageSrc, title, description, category, link } = Astro.props;
---

<div
  class="flex flex-col items-start justify-between transition ease-in-out delay-150 hover:-tranzinc-y-6 duration-300"
>
  <div class="relative w-full">
    <Image
      src={imageSrc}
      alt={title}
      class="aspect-[16/9] w-full rounded-2xl bg-zinc-100 dark:bg-zinc-800 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
      width={600}
      height={400}
    />
    <div
      class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-zinc-300 dark:ring-zinc-600"
    >
    </div>
  </div>
  <div class="max-w-xl">
    <div class="group relative">
      <h3
        class="mt-3 text-lg/6 font-semibold text-zinc-900 dark:text-zinc-50 group-hover:text-zinc-600 dark:group-hover:text-zinc-400"
      >
        <a href={link} target="_blank">
          <span class="absolute inset-0"></span>
          {title}
        </a>
      </h3>
      <p class="mt-5 line-clamp-3 text-sm/6 text-zinc-700 dark:text-zinc-400">
        {description}
      </p>
      <div class="mt-4 flex items-center gap-x-4 text-xs">
        <a
          href={link}
          class="relative z-10 rounded-full bg-zinc-50 dark:bg-zinc-800 px-3 py-1.5 font-medium text-zinc-600 dark:text-zinc-400 hover:bg-zinc-100 dark:hover:bg-zinc-700"
        >
          {category}
        </a>
      </div>
    </div>
  </div>
</div>
