---
import "@/styles/globals.css";

import type { Project } from "@/interface";
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/project/ProjectCard.astro";

const ourApps: Project[] = [
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731736963/the-gaming-corps_mkhh4c.png",
    title: "The Gaming Corps",
    description:
      "Built an engaging platform for The Gaming Corps, enhancing community interaction and showcasing gaming content effectively.",
    category: "Video Game Media",
    link: "https://thegamingcorps.com/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731736965/cursumi_zyliuq.png",
    title: "Cursumi",
    description:
      "Created a tailored e-learning platform to improve accessibility, engagement, and user satisfaction for Cursumi’s students.",
    category: "Education Platform",
    link: "https://www.cursumi.com/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731736964/holistia_pu1jfw.png",
    title: "Holistia",
    description:
      "Developed an engaging platform for Holistia, empowering users with accessible wellness resources and tools for a healthier lifestyle.",
    category: "Wellness Platform",
    link: "https://www.holistia.io/",
  },
];
---

<Layout title="Omnitria | Our Apps">
  <div class="bg-zinc-50 dark:bg-zinc-900 py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2
          class="text-balance text-4xl font-semibold tracking-tight text-zinc-900 dark:text-zinc-50 sm:text-5xl"
        >
          Explore Our Applications
        </h2>
        <p class="mt-2 text-lg/8 text-zinc-700 dark:text-zinc-400">
          Take a look at our expertly crafted applications and see how we
          empower businesses with tailored digital solutions for impactful
          growth.
        </p>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {
          ourApps.map((app) => (
            <ProjectCard
              imageSrc={app.imageSrc}
              title={app.title}
              description={app.description}
              category={app.category}
              link={app.link}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
