---
import "@/styles/globals.css";

import type { Project } from "@/interface";
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/project/ProjectCard.astro";

const portfolio: Project[] = [
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889288/club-de-estirpe_tyajqj.webp",
    title: "Club De Estirpe",
    description:
      "A user-friendly platform was created to connect entrepreneurs with investors, enabling secure funding and mentorship.",
    category: "Entrepreneurship Startup",
    link: "https://clubdeestirpe.com/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889287/constructorarm_y4laag.webp",
    title: "Constructora RM",
    description:
      "Enhanced Constructora RM’s project management and client engagement with tailored digital tools, improving efficiency and communication.",
    category: "Construction Company",
    link: "https://constructorarm.mx/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889272/construccion-inteligente_oevj17.webp",
    title: "Construcción Inteligente",
    description:
      "Developed customized digital solutions to streamline operations and enhance project visibility, boosting efficiency for Construcción Inteligente.",
    category: "Construction Materials Company",
    link: "https://construccioninteligente.mx/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889287/BemastraDental_wqqgnp.webp",
    title: "BemästraDental",
    description:
      "Bemästra Dental’s new website offers an easy way for patients to book appointments and explore services, enhancing accessibility to quality care.",
    category: "Dental Office",
    link: "https://xn--bemstradental-dfb.com/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889293/ferreacabados-jalisco_g3ekoy.webp",
    title: "Ferreacabados Jalisco",
    description:
      "Developed a streamlined online catalog to enhance user experience and simplify product discovery for Ferreacabados Jalisco’s customers.",
    category: "Hardware Store",
    link: "https://ferrejalisco.mx/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889292/infinito-empresarial-y-aduanero_kbev0r.webp",
    title: "Infinito Empresarial y Aduanero",
    description:
      "Built a customized digital platform that optimizes service visibility and client engagement for Infinito Empresarial y Aduanero.",
    category: "Customs Company",
    link: "https://infinitoad.com/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889289/jtp-logistics_j2qrg6.webp",
    title: "JTP Logistics",
    description:
      "Developed a comprehensive digital logistics management platform that enhances service coordination and client access for JTP Logistics.",
    category: "Logistics Company",
    link: "https://www.jtp.com.mx/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889290/pasteria-la-hidalguense_olu6xf.webp",
    title: "Pastería La Hidalguense",
    description:
      "Created a streamlined digital platform for efficient management across accounting, purchasing, sales, operations, and HR.",
    category: "Pastes Company",
    link: "https://lacasadelpaste.vercel.app/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889291/profibra_svpctd.webp",
    title: "Profibra",
    description:
      "Created a streamlined digital platform for Profibra, enhancing client engagement and showcasing their high-quality fiberglass products effectively.",
    category: "Fiberglass Company",
    link: "https://profibra.com.mx/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889326/santa-maria-del-oro-jalisco_btuzci.webp",
    title: "Santa Maria Del Oro Jalisco",
    description:
      "Developed an inviting website for Santa María del Oro, highlighting local attractions and improving visitor engagement.",
    category: "Government",
    link: "https://santamariadelorojal.com/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889294/steridental_zmrkqh.webp",
    title: "Steridental",
    description:
      "Created a secure platform for Steridental to streamline dental material sterilization processes, enhancing client service and reliability.",
    category: "Sterilization Of Dental Materials Company",
    link: "https://www.app.steridental.mx/login",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731888584/the-gaming-corps_mmo8uz.webp",
    title: "The Gaming Corps",
    description:
      "Built an engaging platform for The Gaming Corps, enhancing community interaction and showcasing gaming content effectively.",
    category: "Video Game Media",
    link: "https://thegamingcorps.com/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731888583/cursumi_mkjioi.webp",
    title: "Cursumi",
    description:
      "Created a tailored e-learning platform to improve accessibility, engagement, and user satisfaction for Cursumi’s students.",
    category: "Education Platform",
    link: "https://www.cursumi.com/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731888582/holistia_ogplmh.webp",
    title: "Holistia",
    description:
      "Developed an engaging platform for Holistia, empowering users with accessible wellness resources and tools for a healthier lifestyle.",
    category: "Wellness Platform",
    link: "https://www.holistia.io/",
  },
  {
    imageSrc:
      "https://res.cloudinary.com/dldo1zcgz/image/upload/v1731889326/tuxcacuesco_p1nhba.webp",
    title: "Tuxcacuesco",
    description:
      "Created an accessible platform for Tuxcacuesco, streamlining public information and local government resources for residents.",
    category: "Government",
    link: "https://tuxcacuesco.gob.mx/#/",
  },
];
---

<Layout title="Omnitria | Portfolio">
  <div class="bg-white dark:bg-black py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2
          class="text-balance text-4xl font-semibold tracking-tight text-zinc-900 dark:text-zinc-50 sm:text-5xl"
        >
          Our Portfolio
        </h2>
        <p class="mt-2 text-lg/8 text-zinc-700 dark:text-zinc-400">
          Discover the success stories of our clients and see how Omnitria’s
          custom solutions have driven their growth.
        </p>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {
          portfolio.map((project, index) => (
            <ProjectCard
              imageSrc={project.imageSrc}
              title={project.title}
              description={project.description}
              category={project.category}
              link={project.link}
              loading={index < 3 ? "eager" : "lazy"}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
